.linkButtonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    background-color: var(--mainColor--green);
    border-radius: 20px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 60px;
      font-size: 20px;
      color: #ffffff;

      img {
        width: 30px;
        margin-right: 20px;
      }

      span {
        font-family: "Pretendard-Light";
        font-weight: 500;
        margin-right: 15px;
      }
    }
  }

  button:hover {
    background-color: var(--mainColor--lightGreen);
  }
}
