.chatTitleWrapper {
  margin: 10px 20px;
  display: inline;

  .chatButton {
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ffffff;
  }
}
