.swiper {
  width: 100%;

  .swiper-wrapper {
    .swiper-slide {
      background-color: var(--mainColor--skyblue100);
      .sliderWrapper {
        height: 600px;
        display: flex;

        .shoppingImg {
          margin-left: 300px;
        }

        .swiperContents {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 100px;

          h1 {
            font-family: "HSSantokki-Regular";
            font-size: 50px;
          }

          p {
            font-family: "Pretendard-Light";
            font-size: 20px;
          }
        }
      }
    }

    // @media screen and (min-width: 768px) {
    //   width: 80%;
    // }

    // @media screen and (min-width: 1024px) {
    //   width: 60%;
    // }
  }
}
