@import "../src/styles/reset.css";
@import "../src/styles/common.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
}

input,
textarea {
  border: none;
}

input,
textarea:focus {
  outline: none;
}
